
/* BASE */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* variables */
:root {
    --brand-color-red: #79000d;
    --brand-color-background: #0D0E12;
    --color-primary-light: #ffffff;
    --color-primary-dark: #cecece;
}

body {
    background-color: var(--brand-color-background);
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-primary-light);
}

body {
    @media screen and (min-width: 768px) {
        
        font-size: 18px;
        font-weight: 500;
    }
    
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}


ul, ol {
    list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

a {
    text-decoration: none;
    display: block;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}




/* UTILS */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  /* SECTION */
  .section {
    padding: 20px 0;
  }

.section {
    @media screen and (min-width: 768px) {
    padding: 48px 0;
    }
}

/* HEADER */
.header {
    padding-top: 30px;
}

/* .header {
    @media screen and (min-width: 768px) {
        padding-top: 32px;
        }
} */

.header-container-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;

        
        }

        
.header-container-list-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--color-primary-light);
}

.header-container-list-link {
    @media screen and (min-width: 768px) {
        font-size: 20px;
        }    
}

/* HERO */
.hero-container {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.hero-container {
    @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 60px;
        
    }  
}

.hero-container-text {
font-weight: 600;
font-size: 60px;
margin-bottom: 10px;
}

.hero-container-title-image {
    width: 700px;
}

.hero-container-image {
    width: 305px;
}

.hero-container-image {
    @media screen and (min-width: 768px) {
        width: 620px;
        }  
}

.hero-container-title {
font-weight: 800;
font-size: 76px;
line-height: 1.1;
margin-top: -36px;
margin-bottom: 30px;
}


.hero-container-text-mini {
    font-size: 24px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.accent-text {
font-size: 30px;
}

.button {
    background-color: var(--brand-color-red);
    color: var(--color-primary-light);
    font-size: 32px;
    font-weight: 700;
    padding: 16px;
    width: 478px;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    transition: background-color 0.3s;
    text-align: center;
}

.button-center {
    margin: 0 auto;
}
 


/* TIMER */

.timer-container {

    display: flex;
            flex-direction: column;
            align-items: flex-start; /* Aligns title & timer to the left */
            width: fit-content; /* Wraps the content */
}

.timer-title {
font-weight: 700;
font-size: 60px;
color: var(--color-primary-light);
margin-bottom: 2px;
}

.timer-price-new {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: var(--color-primary-light);
    margin-bottom: 8px;
    padding-left: 48px;
}

.timer-price-old {
font-size: 40px;
color: #a4a3a3;
text-decoration: line-through;

}
    

#countdown {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1); /* Transparent box */
    padding: 20px;
    border-radius: 10px;
    width: 220px;
    height: 220px;
}

.time-value {
    font-size: 180px;
    font-weight: 500;
    line-height: 1;
}

.time-label {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
}

.button-timer {
    margin: 0 auto;
    margin-bottom: 32px;
    position: relative;
}

.button-timer::before {
    content: "";
    display: block;
    width: 576px;
    height: 371px;
    border-radius: 100%;
    background-color: rgba(253, 136, 138, 0.15); /* Fixed fill issue */
    filter: blur(50px); /* Reduced for testing */
    position: absolute;
    top: -69px;
    left: -33px;
    z-index: -1; /* Ensure it's behind the button */
}

.timer-container-text {
    max-width: 245px;
    font-size: 20px;
    line-height: 1.2;
    margin: 0 auto;
    position: relative;
}

.timer-container-text::before {
    content: "";
    background-image: url('../images/gift.png');
    display: block;
    width: 97px; /* Set a specific width */
    height: 97px; /* Set a specific height */
    transform: rotate(5deg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: -15px;
    left: -96px;
}

/* FORMATS */
.title {
font-weight: 600;
font-size: 60px;
text-align: center;
margin-bottom: 44px;

}

.formats-list {
display: flex;
gap: 40px;
}

.formats-list-item {
    border-radius: 14px;
    width: 409px;
    height: 139px;
    box-shadow: 0 12px 34px -7px rgba(69, 65, 113, 0.16);
    background: linear-gradient(1deg, #890100 0%, #7f6464 89%);
    display: flex;
    align-items: center;
    justify-content: center;
        
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

/* Для кого этот интенсив? */
.who-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 44px;

}

.who-list-item {
    display: flex;
    gap: 20px;
    flex-basis: calc((100% - 40px) / 2);
    align-items: center;
}

.who-list-item-number {
background-color: var(--brand-color-red);
border-radius: 50%;
width: 60px;
height: 60px;
padding: 10px 20px;
display: flex;
align-items: center;
justify-content: center;

    
font-weight: 700;
font-size: 40px;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.who-text {
    font-size: 28px;
    text-align: center;
    margin-bottom: 44px;
}

.who-button {
    margin: 0 auto;
}

/* Наш опыт */
.experience-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 44px;
}

.experience-button {
    margin: 0 auto;
}

/* Что ждет на интенсиве */

.experience-list {
    margin-bottom: 44px;
}

.experience-list-item {
 display: flex;
 gap: 20px;
 align-items: center;
}

.experience-item-wrap {
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: var(--brand-color-red);
padding: 14px;
}

.experience-list-item-icon {
    fill: var(--color-primary-light);
}

.experience-list-text {
max-width: 684px;
}

.experience-list-text-accent {
font-size: 20px;
display: inline-block;
margin-bottom: 10px;
text-transform: uppercase;
}

/* Программа */
.program-list {
    display: flex;
    gap: 28px;
    justify-content: center;
}

.program-list-item {
box-shadow: 0 12px 34px -7px rgba(69, 65, 113, 0.16);
background: linear-gradient(1deg, #890100 0%, #7f6464 100%);    
border-radius: 14px;
max-width: 375px;
width: 100%;
font-weight: 400;
padding: 20px;
}

/* Что ты получишь в результате? */

.result-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.result-list-item {
    display: flex;
    flex-basis: calc((100% - 30px) / 2);
    max-width: 410px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
  

}

.result-wrap-icon {
    width: 70px;
}

/* СТОИМОСТЬ */

.section-price {
   background-image: url('../images/price-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
