
/* BASE */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* variables */
:root {
    --brand-color-red: #79000d;
    --brand-color-background: #0D0E12;
    --color-primary-light: #ffffff;
    --color-primary-dark: #cecece;
}

body {
    background-color: var(--brand-color-background);
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-primary-light);
}


h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}


ul, ol {
    list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

a {
    text-decoration: none;
    display: block;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
  /* SECTION */
  .section {
    padding: 20px 0;
  }

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

.button {
    background-color: var(--brand-color-red);
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 700;
    padding: 16px;
    width: 300px;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    transition: background-color 0.3s;
    text-align: center;
}

.button:hover, .button:focus, .button:active {
    background-color: #9C1F1E;
}

.button-center {
    margin: 0 auto;
}

/* UTILS */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

/* HEADER */
.header {
    padding-top: 30px;
}


.header-container-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        }

        
.header-container-list-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--color-primary-light);
}




/* HERO */
.hero-container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
 
}

.hero-container-text {
font-weight: 600;
font-size: 30px;
margin-bottom: 10px;
}

.hero-container-title-image {
    width: 700px;
}

.hero-container-image {
    width: 320px;
}

.hero-container-title {
font-weight: 800;
font-size: 50px;
line-height: 1.1;
margin-top: -36px;

}

.hero-text-mini-wrap {
    display: none;
}


.hero-container-text-mini {
    font-size: 18px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        }  

}

.accent-text {
    font-size: 24px; 
}

/* TIMER */

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns title & timer to the left */
    width: fit-content; /* Wraps the content */
}

.timer-title {
font-weight: 700;
font-size: 30px;
color: var(--color-primary-light);
margin-bottom: 2px;
 
}

.timer-price-new {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--color-primary-light);
    margin-bottom: 8px;
    padding-left: 48px;
}

.timer-price-old {
    font-size: 18px;
    color: #a4a3a3;
    text-decoration: line-through;
}
    

#countdown {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1); /* Transparent box */
    padding: 10px;
    border-radius: 10px;
    /* width: 220px;
    height: 220px; */
}

.time-value {
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
}

.time-label {
    font-size: 16px; 
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
}

.button-timer {
    margin-bottom: 22px;
    position: relative;
}

.button-timer::before {
    content: "";
    display: inline-block;
    width: 250px;
    height: 300px;
    border-radius: 100%;
    background-color: rgba(253, 136, 138, 0.15); /* Fixed fill issue */
    filter: blur(50px); /* Reduced for testing */
    position: absolute;
    top: -69px;
    left: -33px;
    z-index: -1; /* Ensure it's behind the button */
}

.timer-container-text {
    max-width: 245px;
    font-size: 16px;
    line-height: 1.2;
    margin: 0 auto;
    position: relative;
}

.timer-container-text::before {
    content: "";
    background-image: url('../images/gift.png');
    display: inline-block;
    width: 70px; /* Set a specific width */
    height: 70px; /* Set a specific height */
    transform: rotate(5deg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: -15px;
    left: -76px;
}

/* FORMATS */
.title {
font-weight: 600;
font-size: 30px;
text-align: center;
margin-bottom: 30px;
}

.formats-list {
display: flex;
flex-direction: column;
justify-content: center;
gap: 20px;
}

.formats-list-item {
    display: flex;
    margin: 0 auto;
    border-radius: 14px;
    width: 280px;
    height: 139px;
    padding: 10px;
    box-shadow: 0 12px 34px -7px rgba(69, 65, 113, 0.16);
    background: linear-gradient(1deg, #890100 0%, #7f6464 89%);
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

/* Для кого этот интенсив? */
.who-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 44px;

}

.who-list-item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.who-list-item-number {
background-color: var(--brand-color-red);
border-radius: 50%;
width: 60px;
height: 60px;
padding: 10px 20px;
display: flex;
align-items: center;
justify-content: center;

    
font-weight: 700;
font-size: 40px;
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.who-text {
    font-size: 18px;
    text-align: center;
    margin-bottom: 32px;
}

.who-button {
    margin: 0 auto;
}

/* Наш опыт */
.experience-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 44px;
}

.experience-text {
 font-size: 20px;
 margin-bottom: 20px;
 text-align: center;
}

/* Что ждет на интенсиве */

.experience-list {
    margin-bottom: 44px;
}

.experience-list-item {
 display: flex;
 gap: 20px;
 align-items: center;
}

.experience-item-wrap {
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: var(--brand-color-red);
padding: 14px;
}

.experience-list-item-icon {
    fill: var(--color-primary-light);
}

.experience-list-text {
max-width: 684px;
}

.experience-list-text-accent {
font-size: 18px;
display: inline-block;
margin-bottom: 10px;
text-transform: uppercase;
}

/* Программа */
.program-list {
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: center;
}

.program-list-item {
box-shadow: 0 12px 34px -7px rgba(69, 65, 113, 0.16);
background: linear-gradient(1deg, #890100 0%, #7f6464 100%);    
border-radius: 14px;
max-width: 375px;
width: 100%;
font-weight: 400;
padding: 20px;
margin: 0 auto;
}

/* Что ты получишь в результате? */

.section-result {
    padding-bottom: 40px;
}

.result-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.result-list-item {
    display: flex;
    max-width: 410px;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.result-wrap-icon {
    width: 70px;
}

.result-list-text {
    text-align: center;
}

/* СТОИМОСТЬ */

.section-price {
    background-image: url('../images/price-bg-mob2.png');
     background-repeat: no-repeat;
     background-size: cover;
     padding-bottom: 40px;
 }

.price-text {
    
    margin-bottom: 6px;
    text-align: center;
}

.price-text.last-text {
    margin-bottom: 30px;
}

.price-text-title {
    font-size: 20px;
    text-align: center;
    font-weight: 800;
}

.price-button-text {
    text-align: center;
    margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
    .body {
        font-size: 18px;
        font-weight: 500;
    }
    
    .section {
        padding: 48px 0;
    }

    .button {
        font-size: 32px;
        width: 478px;
    }

    .title {
        font-size: 60px;
        margin-bottom: 44px;
    }

    .header-container-list-link {
        font-size: 20px;
    }

    /* HERO */
    .hero-container {
        align-items: left;
        flex-direction: row;
        justify-content: space-between;
        gap: 60px;
    }

    .hero-container-text {
        font-size: 60px;
    }

    .hero-container-image {
        margin: 0 auto;
        width: 620px;
    }

    .hero-container-title {
        font-size: 76px;
        margin-bottom: 50px;
    }

    .hero-text-mini-wrap {
        display: block;
    }

    .hero-text-mini-wrap-mobile {
        display: none;
    }

    .hero-container-text-mini {
        padding-left: 20px;
    }

    .accent-text {
        font-size: 30px;
    }

    /* TIMER */

    .timer-title {
        font-size: 60px; 
    }

    .timer-price-new {
        font-size: 50px;
    }

    .timer-price-old {
        font-size: 40px;
    }

    #countdown {
        gap: 20px;
    }

    .time-box {
        padding: 20px;
    }

    .time-value {
        font-size: 56px; /* Increase font size at 480px */
    }

    .time-value {
        font-size: 100px; /* Increase again at 768px */
    }

    .time-label {
        font-size: 24px;
    }

    .button-timer {
        margin-bottom: 32px;
    }

    .button-timer::before  {
      
        width: 576px;
        height: 371px;
    }

    .timer-container-text {
        font-size: 20px;
    }

    .timer-container-text::before {
   
    width: 97px; 
    height: 97px; 
    left: -96px;
    }


    /* FORMATS */

    .formats-list {
        gap: 40px;
        flex-direction: row;
        }

    .formats-list-item {
        font-size: 24px;
        width: 409px;
    } 

/* Для кого этот интенсив? */

.who-list {
    gap: 40px;
}
 .who-list-item {
    flex-basis: calc((100% - 40px) / 2);

 }

 .who-text {
    font-size: 28px;
    margin-bottom: 44px;
 }
/* Что ждет на интенсиве */
 .experience-list-text-accent {
    font-size: 20px;
 }

 /* Программа */
 .program-list {
flex-direction: row;
 }

 .program-list-item {
margin: 0;
 }

 .section-result {
    padding-bottom: 96px;
}

 .result-list-item {
    flex-basis: calc((100% - 30px) / 2);
 }

 .result-list-text {
    text-align: left;
 }

/* СТОИМОСТЬ */
.section-price {
    background-image: url('../images/price-image.png');
    padding-bottom: 96px;
    background-position: center;
} 

 .price-text {
    font-size: 20px;
 }

 .price-text.last-text {
    margin-bottom: 44px;
}


.price-text-button {
    font-size: 24px;
}

.price-text-title {
    font-size: 28px;
}

.price-button-text {
    font-size: 20px;
    margin-bottom: 44px;
}

}